language: python
python:
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

install:
  - pip install -r requirements.txt
  - pip install coveralls

before_script:
  - psql -c 'create database store_manager;' -U postgres
  - psql -c 'create database test_store_manager;' -U postgres

script:
  - coverage run --source=app -m pytest && coverage report

after_success:
- coveralls